<div class="lobby-container">
    <span>Please choose a user name:</span>
    <input type="text" id="user-name-input"/>
    <button onclick="FindOpponentClick()">Find opponent</button>


</div>
<script type="text/javascript">
    function FindOpponentClick() {
        alert('a');
    }
</script>