
body {
    text-align: center;
}

header {
    padding: 100px;
    background-color: #02B8D8;
    text-align: center;
}

h1 {
    /*font: normal 60px/1 "Fredoka One", Helvetica, sans-serif;*/
    font: normal 60px/1;
    font-family: 'Press Start 2P', cursive;
    color: rgba(255,255,255,1);
    text-align: center;
    text-overflow: clip;
    text-shadow: 3px 3px 0 #0199d9, 4px 4px 0 #0199d9,
    5px 5px 0 #0199d9, 6px 6px 0 #0199d9, 7px 7px 0 #0199d9,
    8px 8px 0 #0199d9, 9px 9px 0 #0199d9, 10px 10px 0 #0199d9,
    11px 11px 0 #0199d9, 12px 12px 0 #0199d9, 13px 13px 0 #0199d9,
    14px 14px 0 #0199d9, 15px 15px 0 #0199d9, 16px 16px 0 #0199d9,
    17px 17px 0 #0199d9, 18px 18px 0 #0199d9, 19px 19px 0 #0199d9,
    20px 20px 0 #0199d9;
}

#top-container {
    width: auto;
    height: auto;
    background-color: lightgrey;
    margin-left: 0;
}

#player {
    text-align: left;
    padding-bottom: 40px;
    padding-top: 10px;
    padding-left: 15px;
    background-color: cornflowerblue;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

#player > span {
    font: normal 16px 'Press Start 2P', cursive;
    margin: 0;
}

#player > p {
    font: normal 16px 'Press Start 2P', cursive;
    margin: 0;
}

.Button1 {
  float: left;
  position: relative;
  width:200px;
  color:#FFF;
  display:block;
  text-decoration:none;
  margin:0 auto;
  border-radius:5px;
  border:solid 1px #D94E3B;
  background:#cb3b27;
  text-align:center;
  padding:20px 30px;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  -webkit-box-shadow: 0px 9px 0px #84261a;
  -moz-box-shadow: 0px 9px 0px #84261a;
  box-shadow: 0px 9px 0px #84261a;
}

.Button1:active {
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position:relative;
    top:7px;
}
