
* { box-sizing:border-box; margin: 0; padding: 0; }

.score{
    border:2px solid red;
    float:left;
}

.cell-container {
    display:inline;
    position:absolute;
    padding:0;
}

.hexagon {
	position: relative;
    width:100%;
    height:100%;
	display: inline-block;
	overflow: hidden;
    
	margin: 0;
	padding: 16%;
	transform: rotate(30deg) skewY(30deg) scaleX(.866025); /* .866 = sqrt(3)/2 */
}
.hexagon:before, .content:after {
	display: block;
	position: absolute; /* 86.6% = (sqrt(3)/2)*100% = .866*100% */
	top: 6.6987%; right: 0; bottom: 6.6987%; left: 0; /* 6.7% = (100% -86.6%)/2 */
	transform: scaleX(1.1547) skewY(-30deg) rotate(-30deg); /* 1.155 = 2/sqrt(3) */
	background-size: cover;

	content: '';
}
.hexagon-0:before{background-color:red}
.hexagon-1:before{background-color:orange}
.hexagon-2:before{background-color:yellow}
.hexagon-3:before{background-color:#0F9200}
.hexagon-4:before{background-color:#02B8D8}
.hexagon-5:before{background-color:#86269B}
.hexagon-6:before{background-color:#4AE54A}
.hexagon-7:before{background-color:pink}
.hexagon-8:before{background-color:#CC0063}



.content:after {
     content: attr(data-content);
     color:black; 
     font-size:60%;
	 text-align:center;
}



#test {
   height:480px;
   width:800px;
   position:relative;
   padding:0;
}

/*.cell {
    position:absolute;
    display:inline;
}*/


body {
            text-align: center;
        }

        header {
            padding: 100px;
            background-color: #02B8D8;
            text-align: center;
        }

        h1 {
            font: normal 60px/1 "Fredoka One", Helvetica, sans-serif;
            color: rgba(255,255,255,1);
            text-align: center;
            text-overflow: clip;
            text-shadow: 3px 3px 0 #0199d9, 4px 4px 0 #0199d9, 5px 5px 0 #0199d9, 6px 6px 0 #0199d9, 7px 7px 0 #0199d9, 8px 8px 0 #0199d9, 9px 9px 0 #0199d9, 10px 10px 0 #0199d9, 11px 11px 0 #0199d9, 12px 12px 0 #0199d9, 13px 13px 0 #0199d9, 14px 14px 0 #0199d9, 15px 15px 0 #0199d9, 16px 16px 0 #0199d9, 17px 17px 0 #0199d9, 18px 18px 0 #0199d9, 19px 19px 0 #0199d9, 20px 20px 0 #0199d9;
        }


.lobby-container {
    border:3px solid red;
    margin:10px;
    padding:10px;
}
.darkClass
{
    background-color: white;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
}

.active-controls > .darkClass{
    display:none;
}

.controls-container{
    border:3px solid black;
    position:relative;
    display:block;
}
.active-controls{
    border:3px solid red;
}

.Button1 {
  float: left;
  position: relative;
  width:200px;
  color:#FFF;
  display:block;
  text-decoration:none;
  margin:0 auto;
  border-radius:5px;
  border:solid 1px #D94E3B;
  background:#cb3b27;
  text-align:center;
  padding:20px 30px;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  -webkit-box-shadow: 0px 9px 0px #84261a;
  -moz-box-shadow: 0px 9px 0px #84261a;
  box-shadow: 0px 9px 0px #84261a;
}

.Button1:active {
    -webkit-box-shadow: 0px 2px 0px #84261a;
    -moz-box-shadow: 0px 2px 0px #84261a;
    box-shadow: 0px 2px 0px #84261a;
    position:relative;
    top:7px;
}

.score {
    border:2px solid red;
    float:left;
}

.darkClass {
    background-color: white;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
}

.active-controls > .darkClass {
    display:none;
}

.controls-container {
    border:3px solid black;
    position:relative;
    display:block;
}

.active-controls {
    border:3px solid red;
}